*, *:before, *:after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font_basic;
}
h1, h2, h3, h4, h5, h6, .logo__title {
  font-family: $font_headers;
  letter-spacing: 1.5px;
}

.container{
  padding: 10px;
  position: relative;
}

input, button, label{
  cursor: pointer;
  border-radius: $radius;
}