/*/////////////////////
Colors
/////////////////////*/
$font_main: #404040;
$font_secondary: #fff;

$white: #fff;
$gray: #3a3939;
$gray_light: #f1f1f1;
$gray_dark: #373636;
$gold: #fdc073;         //светлые ссылки, мелкие элементы
$brown: #fdc073;        //темные ссылки, мелкие элементы

//кнопки
$orange: #fd9460;
$green: #498161;
