.menu{
  padding: 10px;
  padding-left: 0;
  & > a{
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    color: $gold;
    &:hover{
      color: $white;
      border-bottom: 1px solid $white;
    }
    &:first-child{
      margin-left: 0;
    }
  }
  .active{
    border-bottom: 1px solid $gold;
  }
}