*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.custom-file-input ~ .custom-file-label[data-browse]:after {
  content: 'Выбрать';
}

.popover {
  max-width: 450px;
  z-index: 1040 !important;
}

.pointer-events-none {
  pointer-events: none;
}
