/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: #888;
  width: 7em;
  height: 3.5em;
  overflow: hidden;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-right span, .switch-left span{
  transform:scale(0.8)
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: $orange;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.switch-left {
  height: 2.39em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.393em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

input:not(:checked) + .switch-left {
  background-color: $green;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:not(:checked) + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.393em;
  right: 0.8em;
  height: 2.39em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

