@import "../vars";

.user-row{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  background-color: $gray_light;
  padding: 5px 10px;
  border-radius: 8px;
  &:nth-child(odd){
    background-color: transparent;
  }
}

.user-row__name{
  padding: 0 ;
}

.user-row__actions{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  & > * {
    margin-left: 10px;
  }
}
