@import "../vars";

.snackbar{
  flex-wrap: nowrap !important;
  align-items: center;
  padding: 5px 12px !important;
  .snackbar__content{
    display: flex;
    align-items: center;
    & > svg {
      margin: 0 10px 0 0;
    }
  }
}

.snackbar_info{
  background-color: #1976d1 !important;
  color: $white !important;
}

.snackbar_warning{
  background-color: #ffa000 !important;
  color: $white !important;
}

.snackbar_error{
  background-color: #d32f2f !important;
  color: $white !important;
}

.snackbar_success{
  background-color: #43a047 !important;
  color: $white !important;
}
