@import "../vars";

.snackbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: $white;
  color: $font_main;
  .snackbar__content{
    display: flex;
    align-items: center;
    & > svg {
      margin: 0 10px 0 0;
    }
  }
}

.snackbar_info{
  background-color: #1976d1;
  color: $white;
}

.snackbar_warning{
  background-color: #ffa000;
  color: $white;
}

.snackbar_error{
  background-color: #d32f2f;
  color: $white;
}

.snackbar_success{
  background-color: #43a047;
  color: $white;
}
