.side-modal__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25em;
  height: 100%;
  padding: 1.5em;
}

.side-modal__content-text{
  padding-bottom: 10px;
}

.side-modal__actions{
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}
