.user-info{
  text-align: right;
  line-height: 0.5em;
  max-height: 100px;
}

.user-info__name{
  margin-top: 0;
  margin-bottom: 0.6em;
}

.user-info__description{
  font-size: 0.8em;
  color: darkgray;
  margin-top: 0;
}
